



html{
	height: 100%;
}

body{
	margin: 0;
  padding: 0;
}

.imgResponsive {
    width: 100%;
    height: auto;
}


@-ms-viewport{
  width: device-width;
}

@media only screen and (max-width: 667px) {
	.hideonmobile { 
    display: none; 
  }
 
}

@media only screen and (max-width: 967px) {
  .logoSerie{
    /*display: none;*/
    transform: translate(0, -40%);
  }
}





header{
	background-color: rgb(40, 40, 40); 
}


.color1{
   background-color: #212121;
}

.textColor1{
  color: white;
}

#footer{
	position: fixed;
  bottom: 0;
  width: 100%;
 

}


#p-bottom{
	color: white;
}

.title{
	margin: 0;
}

.wrapper {
    height: auto !important;
    height: 100%;
    margin: 0 auto; 
    overflow: hidden;
}

.bg {
    position: absolute;
    min-height: 100% !important;
    width: 100%;
    z-index: -1;
}

.ibg-bg {
   position: absolute;
   z-index: -1;
}



#logo{

  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -150px;
  margin-left: -125px; 
  max-width: 300px;

  width: 35%;
  height: 250px;

}

#container{
  margin: 0;
  padding: 0;
  height: 100%;
}

/*===========================================
  loader 
============================================  
*/

#loader-wrapper{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1010;

}






#containerLoader{
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 180px;
  height: 180px;
  margin: -90px 0 0 -90px;
  border-radius: 50%; 
  background: #da7a58;/*-----------------------------*/
  z-index: 1010;

}




#loader-wrapper .loader-section{
  position: fixed;
  top: 0;
   width: 51%;
   height: 100%;
   z-index: 1000;
 
}



#loader-wrapper .loader-section.section-left{
   left: 0;
   background: #da7a58; /* walls color*/
   
}



#loader-wrapper .loader-section.section-right{
  right: 0;
  background: #da7a58; /* walls color*/
  
}


#loader-wrapper .loader-section.section-leftTop{
  left: 0;
  top: 1.5%;
  width: 49%;
  height: 97.5%;
  background: #da7a58;
  z-index: 1001;
}




#loader-wrapper .loader-section.section-leftTopRecOne{
  left: 0;
  top: 1.5%;
  width: 24%;
  height: 8.5%;
  background: #FFF3EB;
  z-index: 1002;

}

#loader-wrapper .loader-section.section-leftTopRecTwo{
  left: 25%;
  top: 1.5%;
  width: 24%;
  height: 8.5%;
  background: #FFF3EB;
  z-index: 1003;
}

#loader-wrapper .loader-section.section-leftTopRecThree{
  left: 0;
  top: 11.5%;
  width: 24%;
  height: 8.5%;
  background: #FFF3EB;
  z-index: 1002;
}

#loader-wrapper .loader-section.section-leftTopRecFour{
  left: 25%;
  top: 11.5%;
  width: 24%;
  height: 8.5%;
  background: #FFF3EB;
  z-index: 1003;
}

#loader-wrapper .loader-section.section-leftTopRecFive{
  left: 0;
  top: 21.5%;
  width: 24%;
  height: 8.5%;
  background: #FFF3EB;
  z-index: 1002;
}

#loader-wrapper .loader-section.section-leftTopRecSix{
  left: 25%;
  top: 21.5%;
  width: 24%;
  height: 8.5%;
  background: #FFF3EB;
  z-index: 1003;
}

#loader-wrapper .loader-section.section-leftTopRecSeven{
  left: 0;
  top: 31.5%;
  width: 24%;
  height: 8.5%;
  background: #FFF3EB;
  z-index: 1002;
}

#loader-wrapper .loader-section.section-leftTopRecEight{
  left: 25%;
  top: 31.5%;
  width: 24%;
  height: 8.5%;
  background: #FFF3EB;
  z-index: 1003;
}

#loader-wrapper .loader-section.section-leftTopRecNine{
  left: 0;
  top: 41.5%;
  width: 24%;
  height: 8.5%;
  background: #FFF3EB;
  z-index: 1002;
}

#loader-wrapper .loader-section.section-leftTopRecTen{
  left: 25%;
  top: 41.5%;
  width: 24%;
  height: 8.5%;
  background: #FFF3EB;
  z-index: 1003;
}

#loader-wrapper .loader-section.section-leftTopRecEleven{
  left: 0;
  top: 51.5%;
  width: 24%;
  height: 8.5%;
  background: #FFF3EB;
  z-index: 1002;
}

#loader-wrapper .loader-section.section-leftTopRecTwelve{
  left: 25%;
  top: 51.5%;
  width: 24%;
  height: 8.5%;
  background: #FFF3EB;
  z-index: 1003;
}

#loader-wrapper .loader-section.section-leftTopRecThirteen{
  left: 0;
  top: 61.5%;
  width: 24%;
  height: 8.5%;
  background: #FFF3EB;
  z-index: 1002;
}

#loader-wrapper .loader-section.section-leftTopRecFourteen{
  left: 25%;
  top: 61.5%;
  width: 24%;
  height: 8.5%;
  background: #FFF3EB;
  z-index: 1003;
}

#loader-wrapper .loader-section.section-leftTopRecFifteen{
  left: 0;
  top: 71.5%;
  width: 24%;
  height: 8.5%;
  background: #FFF3EB;
  z-index: 1002;
}

#loader-wrapper .loader-section.section-leftTopRecSixteen{
  left: 25%;
  top: 71.5%;
  width: 24%;
  height: 8.5%;
  background: #FFF3EB;
  z-index: 1003;
}

#loader-wrapper .loader-section.section-leftTopRecSeventeen{
  left: 0;
  top: 81.5%;
  width: 24%;
  height: 8.5%;
  background: #FFF3EB;
  z-index: 1002;
}

#loader-wrapper .loader-section.section-leftTopRecEightteen{
  left: 25%;
  top: 81.5%;
  width: 24%;
  height: 8.5%;
  background: #FFF3EB;
  z-index: 1003;
}

#loader-wrapper .loader-section.section-leftTopRecNineteen{
  left: 0;
  top: 91.5%;
  width: 24%;
  height: 7.5%;
  background: #FFF3EB;
  z-index: 1002;
}

#loader-wrapper .loader-section.section-leftTopRecTwenty{
  left: 25%;
  top: 91.5%;
  width: 24%;
  height: 7.5%;
  background: #FFF3EB;
  z-index: 1003;
}




#loader-wrapper .loader-section.section-rightTop{
  right: 0;
  top: 1.5%;
  width: 49%;
  height: 97.5%;
  background: #da7a58;
  z-index: 1001;
}


#loader-wrapper .loader-section.section-rightTopRecOne{
  right: 0;
  top: 1.5%;
  width: 24%;
  height: 8.5%;
  background: #FFF3EB;
  z-index: 1002;

}

#loader-wrapper .loader-section.section-rightTopRecTwo{
  right: 25%;
  top: 1.5%;
  width: 24%;
  height: 8.5%;
  background: #FFF3EB;
  z-index: 1003;
}


#loader-wrapper .loader-section.section-rightTopRecThree{
  right: 0;
  top: 11.5%;
  width: 24%;
  height: 8.5%;
  background: #FFF3EB;
  z-index: 1002;
}

#loader-wrapper .loader-section.section-rightTopRecFour{
  right: 25%;
  top: 11.5%;
  width: 24%;
  height: 8.5%;
  background: #FFF3EB;
  z-index: 1003;
}

#loader-wrapper .loader-section.section-rightTopRecFive{
  right: 0;
  top: 21.5%;
  width: 24%;
  height: 8.5%;
  background: #FFF3EB;
  z-index: 1002;
}

#loader-wrapper .loader-section.section-rightTopRecSix{
  right: 25%;
  top: 21.5%;
  width: 24%;
  height: 8.5%;
  background: #FFF3EB;
  z-index: 1003;
}

#loader-wrapper .loader-section.section-rightTopRecSeven{
  right: 0;
  top: 31.5%;
  width: 24%;
  height: 8.5%;
  background: #FFF3EB;
  z-index: 1002;
}

#loader-wrapper .loader-section.section-rightTopRecEight{
  right: 25%;
  top: 31.5%;
  width: 24%;
  height: 8.5%;
  background: #FFF3EB;
  z-index: 1003;
}

#loader-wrapper .loader-section.section-rightTopRecNine{
  right: 0;
  top: 41.5%;
  width: 24%;
  height: 8.5%;
  background: #FFF3EB;
  z-index: 1002;
}

#loader-wrapper .loader-section.section-rightTopRecTen{
  right: 25%;
  top: 41.5%;
  width: 24%;
  height: 8.5%;
  background: #FFF3EB;
  z-index: 1003;
}

#loader-wrapper .loader-section.section-rightTopRecEleven{
  right: 0;
  top: 51.5%;
  width: 24%;
  height: 8.5%;
  background: #FFF3EB;
  z-index: 1002;
}

#loader-wrapper .loader-section.section-rightTopRecTwelve{
  right: 25%;
  top: 51.5%;
  width: 24%;
  height: 8.5%;
  background: #FFF3EB;
  z-index: 1003;
}

#loader-wrapper .loader-section.section-rightTopRecThirteen{
  right: 0;
  top: 61.5%;
  width: 24%;
  height: 8.5%;
  background: #FFF3EB;
  z-index: 1002;
}

#loader-wrapper .loader-section.section-rightTopRecFourteen{
  right: 25%;
  top: 61.5%;
  width: 24%;
  height: 8.5%;
  background: #FFF3EB;
  z-index: 1003;
}

#loader-wrapper .loader-section.section-rightTopRecFifteen{
  right: 0;
  top: 71.5%;
  width: 24%;
  height: 8.5%;
  background: #FFF3EB;
  z-index: 1002;
}

#loader-wrapper .loader-section.section-rightTopRecSixteen{
  right: 25%;
  top: 71.5%;
  width: 24%;
  height: 8.5%;
  background: #FFF3EB;
  z-index: 1003;
}

#loader-wrapper .loader-section.section-rightTopRecSeventeen{
  right: 0;
  top: 81.5%;
  width: 24%;
  height: 8.5%;
  background: #FFF3EB;
  z-index: 1002;
}

#loader-wrapper .loader-section.section-rightTopRecEightteen{
  right: 25%;
  top: 81.5%;
  width: 24%;
  height: 8.5%;
  background: #FFF3EB;
  z-index: 1003;
}

#loader-wrapper .loader-section.section-rightTopRecNineteen{
  right: 0;
  top: 91.5%;
  width: 24%;
  height: 7.5%;
  background: #FFF3EB;
  z-index: 1002;
}

#loader-wrapper .loader-section.section-rightTopRecTwenty{
  right: 25%;
  top: 91.5%;
  width: 24%;
  height: 7.5%;
  background: #FFF3EB;
  z-index: 1003;
}






/*  laoded styles */
  .loaded #loader-wrapper .loader-section.section-left{
    -webkit-transform: translateX(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: translateX(-100%);  /* IE 9 */
            transform: translateX(-100%);  /* Firefox 16+, IE 10+, Opera */
    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
            transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
  }

  .loaded #loader-wrapper .loader-section.section-leftTop{
    -webkit-transform: translateX(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: translateX(-100%);  /* IE 9 */
            transform: translateX(-100%);  /* Firefox 16+, IE 10+, Opera */
    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
            transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
  }
  

  /*wall windows Left ----------------------------------------------------------------------------------------------------------------------*/
  .loaded #loader-wrapper .loader-section.section-leftTopRecOne{
    -webkit-transform: translateX(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: translateX(-100%);  /* IE 9 */
            transform: translateX(-100%);  /* Firefox 16+, IE 10+, Opera */
    -webkit-transition: all 0.5s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
            transition: all 0.5s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
  }

  .loaded #loader-wrapper .loader-section.section-leftTopRecTwo{
    -webkit-transform: translateX(-210%);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: translateX(-210%);  /* IE 9 */
            transform: translateX(-210%);  /* Firefox 16+, IE 10+, Opera */
    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
            transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
  }

  .loaded #loader-wrapper .loader-section.section-leftTopRecThree{
    -webkit-transform: translateX(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: translateX(-100%);  /* IE 9 */
            transform: translateX(-100%);  /* Firefox 16+, IE 10+, Opera */
    -webkit-transition: all 0.5s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
            transition: all 0.5s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
  }

  .loaded #loader-wrapper .loader-section.section-leftTopRecFour{
    -webkit-transform: translateX(-210%);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: translateX(-210%);  /* IE 9 */
            transform: translateX(-210%);  /* Firefox 16+, IE 10+, Opera */
    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
            transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
  }

 .loaded #loader-wrapper .loader-section.section-leftTopRecFive{
    -webkit-transform: translateX(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: translateX(-100%);  /* IE 9 */
            transform: translateX(-100%);  /* Firefox 16+, IE 10+, Opera */
    -webkit-transition: all 0.5s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
            transition: all 0.5s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
  }

  .loaded #loader-wrapper .loader-section.section-leftTopRecSix{
    -webkit-transform: translateX(-210%);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: translateX(-210%);  /* IE 9 */
            transform: translateX(-210%);  /* Firefox 16+, IE 10+, Opera */
    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
            transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
  }

  .loaded #loader-wrapper .loader-section.section-leftTopRecSeven{
    -webkit-transform: translateX(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: translateX(-100%);  /* IE 9 */
            transform: translateX(-100%);  /* Firefox 16+, IE 10+, Opera */
    -webkit-transition: all 0.5s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
            transition: all 0.5s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
  }

  .loaded #loader-wrapper .loader-section.section-leftTopRecEight{
    -webkit-transform: translateX(-210%);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: translateX(-210%);  /* IE 9 */
            transform: translateX(-210%);  /* Firefox 16+, IE 10+, Opera */
    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
            transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
  }

  .loaded #loader-wrapper .loader-section.section-leftTopRecNine{
    -webkit-transform: translateX(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: translateX(-100%);  /* IE 9 */
            transform: translateX(-100%);  /* Firefox 16+, IE 10+, Opera */
    -webkit-transition: all 0.5s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
            transition: all 0.5s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
  }

  .loaded #loader-wrapper .loader-section.section-leftTopRecTen{
    -webkit-transform: translateX(-210%);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: translateX(-210%);  /* IE 9 */
            transform: translateX(-210%);  /* Firefox 16+, IE 10+, Opera */
    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
            transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
  }

  .loaded #loader-wrapper .loader-section.section-leftTopRecEleven{
    -webkit-transform: translateX(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: translateX(-100%);  /* IE 9 */
            transform: translateX(-100%);  /* Firefox 16+, IE 10+, Opera */
    -webkit-transition: all 0.5s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
            transition: all 0.5s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
  }

  .loaded #loader-wrapper .loader-section.section-leftTopRecTwelve{
    -webkit-transform: translateX(-210%);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: translateX(-210%);  /* IE 9 */
            transform: translateX(-210%);  /* Firefox 16+, IE 10+, Opera */
    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
            transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
  }
  .loaded #loader-wrapper .loader-section.section-leftTopRecThirteen{
    -webkit-transform: translateX(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: translateX(-100%);  /* IE 9 */
            transform: translateX(-100%);  /* Firefox 16+, IE 10+, Opera */
    -webkit-transition: all 0.5s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
            transition: all 0.5s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
  }

  .loaded #loader-wrapper .loader-section.section-leftTopRecFourteen{
    -webkit-transform: translateX(-210%);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: translateX(-210%);  /* IE 9 */
            transform: translateX(-210%);  /* Firefox 16+, IE 10+, Opera */
    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
            transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
  }
  .loaded #loader-wrapper .loader-section.section-leftTopRecFifteen{
    -webkit-transform: translateX(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: translateX(-100%);  /* IE 9 */
            transform: translateX(-100%);  /* Firefox 16+, IE 10+, Opera */
    -webkit-transition: all 0.5s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
            transition: all 0.5s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
  }

  .loaded #loader-wrapper .loader-section.section-leftTopRecSixteen{
    -webkit-transform: translateX(-210%);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: translateX(-210%);  /* IE 9 */
            transform: translateX(-210%);  /* Firefox 16+, IE 10+, Opera */
    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
            transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
  }
  .loaded #loader-wrapper .loader-section.section-leftTopRecSeventeen{
    -webkit-transform: translateX(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: translateX(-100%);  /* IE 9 */
            transform: translateX(-100%);  /* Firefox 16+, IE 10+, Opera */
    -webkit-transition: all 0.5s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
            transition: all 0.5s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
  }

  .loaded #loader-wrapper .loader-section.section-leftTopRecEightteen{
    -webkit-transform: translateX(-210%);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: translateX(-210%);  /* IE 9 */
            transform: translateX(-210%);  /* Firefox 16+, IE 10+, Opera */
    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
            transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
  }
  .loaded #loader-wrapper .loader-section.section-leftTopRecNineteen{
    -webkit-transform: translateX(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: translateX(-100%);  /* IE 9 */
            transform: translateX(-100%);  /* Firefox 16+, IE 10+, Opera */
    -webkit-transition: all 0.5s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
            transition: all 0.5s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
  }

  .loaded #loader-wrapper .loader-section.section-leftTopRecTwenty{
    -webkit-transform: translateX(-210%);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: translateX(-210%);  /* IE 9 */
            transform: translateX(-210%);  /* Firefox 16+, IE 10+, Opera */
    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
            transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
  }
  /*-----------------------------------------------------------------------------------------------------------------------------------------------------*/



  
  .loaded #loader-wrapper .loader-section.section-right{
    -webkit-transform: translateX(100%);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: translateX(100%);  /* IE 9 */
            transform: translateX(100%);  /* Firefox 16+, IE 10+, Opera */
    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
            transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
  }

  .loaded #loader-wrapper .loader-section.section-rightTop{
    -webkit-transform: translateX(100%);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: translateX(100%);  /* IE 9 */
            transform: translateX(100%);  /* Firefox 16+, IE 10+, Opera */
    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
            transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
  }



    /*wall windows Right ----------------------------------------------------------------------------------------------------------------------*/
  .loaded #loader-wrapper .loader-section.section-rightTopRecOne{
    -webkit-transform: translateX(100%);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: translateX(100%);  /* IE 9 */
            transform: translateX(100%);  /* Firefox 16+, IE 10+, Opera */
    -webkit-transition: all 0.5s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
            transition: all 0.5s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
  }

  .loaded #loader-wrapper .loader-section.section-rightTopRecTwo{
    -webkit-transform: translateX(210%);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: translateX(210%);  /* IE 9 */
            transform: translateX(210%);  /* Firefox 16+, IE 10+, Opera */
    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
            transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
  }
   .loaded #loader-wrapper .loader-section.section-rightTopRecThree{
    -webkit-transform: translateX(100%);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: translateX(100%);  /* IE 9 */
            transform: translateX(100%);  /* Firefox 16+, IE 10+, Opera */
    -webkit-transition: all 0.5s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
            transition: all 0.5s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
  }

  .loaded #loader-wrapper .loader-section.section-rightTopRecFour{
    -webkit-transform: translateX(210%);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: translateX(210%);  /* IE 9 */
            transform: translateX(210%);  /* Firefox 16+, IE 10+, Opera */
    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
            transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
  }
   .loaded #loader-wrapper .loader-section.section-rightTopRecFive{
    -webkit-transform: translateX(100%);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: translateX(100%);  /* IE 9 */
            transform: translateX(100%);  /* Firefox 16+, IE 10+, Opera */
    -webkit-transition: all 0.5s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
            transition: all 0.5s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
  }

  .loaded #loader-wrapper .loader-section.section-rightTopRecSix{
    -webkit-transform: translateX(210%);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: translateX(210%);  /* IE 9 */
            transform: translateX(210%);  /* Firefox 16+, IE 10+, Opera */
    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
            transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
  }
  .loaded #loader-wrapper .loader-section.section-rightTopRecSeven{
    -webkit-transform: translateX(100%);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: translateX(100%);  /* IE 9 */
            transform: translateX(100%);  /* Firefox 16+, IE 10+, Opera */
    -webkit-transition: all 0.5s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
            transition: all 0.5s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
  }

  .loaded #loader-wrapper .loader-section.section-rightTopRecEight{
    -webkit-transform: translateX(210%);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: translateX(210%);  /* IE 9 */
            transform: translateX(210%);  /* Firefox 16+, IE 10+, Opera */
    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
            transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
  }
  .loaded #loader-wrapper .loader-section.section-rightTopRecNine{
    -webkit-transform: translateX(100%);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: translateX(100%);  /* IE 9 */
            transform: translateX(100%);  /* Firefox 16+, IE 10+, Opera */
    -webkit-transition: all 0.5s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
            transition: all 0.5s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
  }

  .loaded #loader-wrapper .loader-section.section-rightTopRecTen{
    -webkit-transform: translateX(210%);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: translateX(210%);  /* IE 9 */
            transform: translateX(210%);  /* Firefox 16+, IE 10+, Opera */
    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
            transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
  }

  .loaded #loader-wrapper .loader-section.section-rightTopRecEleven{
    -webkit-transform: translateX(100%);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: translateX(100%);  /* IE 9 */
            transform: translateX(100%);  /* Firefox 16+, IE 10+, Opera */
    -webkit-transition: all 0.5s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
            transition: all 0.5s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
  }

  .loaded #loader-wrapper .loader-section.section-rightTopRecTwelve{
    -webkit-transform: translateX(210%);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: translateX(210%);  /* IE 9 */
            transform: translateX(210%);  /* Firefox 16+, IE 10+, Opera */
    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
            transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
  }

   .loaded #loader-wrapper .loader-section.section-rightTopRecThirteen{
    -webkit-transform: translateX(100%);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: translateX(100%);  /* IE 9 */
            transform: translateX(100%);  /* Firefox 16+, IE 10+, Opera */
    -webkit-transition: all 0.5s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
            transition: all 0.5s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
  }

  .loaded #loader-wrapper .loader-section.section-rightTopRecFourteen{
    -webkit-transform: translateX(210%);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: translateX(210%);  /* IE 9 */
            transform: translateX(210%);  /* Firefox 16+, IE 10+, Opera */
    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
            transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
  }

   .loaded #loader-wrapper .loader-section.section-rightTopRecFifteen{
    -webkit-transform: translateX(100%);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: translateX(100%);  /* IE 9 */
            transform: translateX(100%);  /* Firefox 16+, IE 10+, Opera */
    -webkit-transition: all 0.5s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
            transition: all 0.5s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
  }

  .loaded #loader-wrapper .loader-section.section-rightTopRecSixteen{
    -webkit-transform: translateX(210%);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: translateX(210%);  /* IE 9 */
            transform: translateX(210%);  /* Firefox 16+, IE 10+, Opera */
    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
            transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
  }
    .loaded #loader-wrapper .loader-section.section-rightTopRecSeventeen{
    -webkit-transform: translateX(100%);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: translateX(100%);  /* IE 9 */
            transform: translateX(100%);  /* Firefox 16+, IE 10+, Opera */
    -webkit-transition: all 0.5s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
            transition: all 0.5s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
  }

  .loaded #loader-wrapper .loader-section.section-rightTopRecEightteen{
    -webkit-transform: translateX(210%);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: translateX(210%);  /* IE 9 */
            transform: translateX(210%);  /* Firefox 16+, IE 10+, Opera */
    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
            transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
  }
  .loaded #loader-wrapper .loader-section.section-rightTopRecNineteen{
    -webkit-transform: translateX(100%);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: translateX(100%);  /* IE 9 */
            transform: translateX(100%);  /* Firefox 16+, IE 10+, Opera */
    -webkit-transition: all 0.5s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
            transition: all 0.5s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
  }

  .loaded #loader-wrapper .loader-section.section-rightTopRecTwenty{
    -webkit-transform: translateX(210%);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: translateX(210%);  /* IE 9 */
            transform: translateX(210%);  /* Firefox 16+, IE 10+, Opera */
    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
            transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
  }

  /*-----------------------------------------------------------------------------------------------------------------------------------------------------*/




  .loaded #containerLoader{
    opacity: 0;
    visibility: hidden;
      -webkit-transition: all 0.3s ease-out;  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
              transition: all 0.3s ease-out; 
  }

  .loaded #loader-wrapper{
    visibility: hidden;
      -webkit-transform: translateY(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: translateY(-100%);  /* IE 9 */
            transform: translateY(-100%);  /* Firefox 16+, IE 10+, Opera */

      -webkit-transition: all 0.3s 1s ease-out;  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
            transition: all 0.3s 1s ease-out; 
  }



.gameIcon .hoverEffect{
  display: block;
  position: fixed;
  left: 50%;
  top: 75%;

  /*border: 3px solid blue;*/
  z-index: 1001;

}

.hoverEffect{
  width: 200px;
  height: 200px;
  margin: -100px 0 0 -100px;
}

.hoverEffect:hover{
  width: 230px;
  height: 230px;
  margin: -115px 0 0 -115px;
}

.videoIcon .hoverEffect{
  display: block;
  position: fixed;
  left: 30%;
  top: 50%;

 /* border: 3px solid white;*/
  z-index: 1001;

}

.bibleIcon .hoverEffect{
  display: block;
  position: fixed;
  left: 70%;
  top: 50%;

  /*border: 3px solid yellow;*/
  z-index: 1001;

}




.logoSerie{
  
  position: fixed;
  left: 50%;
  top: 40%;
  width: 300px;
  height: 300px;
  margin: -150px 0 0 -150px;
  /*border: 3px solid purple;*/
  z-index: 1001;

}



#trailer .modal-dialog { 
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
    width: 58%;
    height: auto;

 }

.hanging-close {
     position: absolute;
     top: -12px;
     right: -12px;
     z-index: 9001;
 }



.movie-tile {
    margin-bottom: 0px;
    padding-top: 0px;
}


.movie-tile:hover {
    background-color: #EEE;
    cursor: pointer;
}
.scale-media {
    padding-bottom: 56.25%;
    position: relative;
}

.scale-media iframe {
    border: none;
    height: 100%;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    background: white;
    z-index: 5;
}





/*  code for animating sprite sheet    */

.box {

  width:110px;
  height:149px; 
  position:absolute; 
  bottom:25px;
  left: 20%; 
  overflow:hidden;


}

.penguin {

  animation:walk 1s infinite steps(4);
}

@keyframes walk{
  0%{transform:translateX(0);}
  100%{transform:translateX(-440px);}
}

/*    --------------------------    */